/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    tapping-term-ms = <201>;
    flavor = "tap-preferred";
 };


behaviors {
 ent: enter_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "ENTER_MODS";
            #binding-cells = <18>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp FSLH>, <&kp ENTER>;
        };

};



/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
//   |    Q    |    W    |    E    |    R    |    T    |   Y   |                                  |    Y    |    U    |    I    |    O    |   P  |
//   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |   ;  |
//   |    Z    |    X    |    C    |    V    |    B    |                                |  B      |    N    |    M    |     ,   |    .    |  ?   |  
//                                         |   GUI     | SPACE |                        |  SPACE  |   GUI   |  
            bindings = <
    &kp Q    &kp W    &kp E    &kp R       &kp T      &bt BT_CLR                        &kp Y       &kp U     &kp I     &kp O        &kp BSPC   
    &kp A    &kp S    &kp D    &kp F       &kp G                                        &kp H       &kp J     &kp K     &kp L        &kp SEMI 
    &kp Z    &kp X    &kp C    &kp V       &kp B                                        &kp B       &kp N     &kp M     &kp COMMA    &kp DOT     &kp FSLH 
                               &kp LGUI    &kp SPACE                                    &kp SPACE   &kp LSHIFT
            >;

            
        };
    };
};
