if SHIELD_JESUS_LEFT

config ZMK_KEYBOARD_NAME
    default "JesusBoard"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_JESUS_LEFT || SHIELD_JESUS_RIGHT

config ZMK_SPLIT
    default y

endif